{
  "printWidth": 120,
  "tabWidth": 4,
  "trailingComma": "all",

  "overrides": [
    {
      "files": "*.js",
      "options": {      
		"printWidth": 100,
		"tabWidth": 8,
		"trailingComma": "all"
      }
    }
  ]
}