.search {
  margin: auto;
  margin-top: 48px;

  &__wrapper {
    margin: auto;
    position: relative;
    width: 280px;
  }

  &__warning-message {
    margin-top: 16px;
    display: flex;
    align-items: center;
    color: $warning-message-color;
    justify-content: center;
  }

  &__input {
    width: 100%;
    border: none;
    border-bottom: 0.5px solid $search-bottom-border-color;
    padding: 3px 16px 3px 1px;
    outline: none;
    background-color: transparent;
    color: inherit;

    &::placeholder {
      color: $search-placeholder-color;
    }
  }

  &__icon {
    position: absolute;
    top: 5px;
    right: 0;
    cursor: pointer;
  }

  // TABLET
  @include mq('tablet') {
    margin-top: 40px;
    
    &__wrapper {
      width: 336px;
    }

    &__warning-message {
      margin-top: 20px;
    }
  }

  // DESKTOP
  @include mq('desktop') {
    &__wrapper {
      width: 394px;
    }
  }
}
