<footer class="footer">
    <p class="footer__text">
        © 2022 | All Rights Reserved | Developed with
        <svg class="footer__icon">
            <use href="./images/icons.svg#icon-heart"></use>
        </svg>
        <button class="footer__link" type="button" data-footer-modal-open>by GoIT Students</button>
    </p>

    <div class="footer-modal is-hidden" data-modal>
        <div class="footer-modal__bg">
            <div class="footer-modal__head">
                <img class="footer-modal__logo" src="/src/images/pc/goit-logo.png" alt="footer logo" />
                <h3 class="footer-modal__title">Team "Elite of the nation"</h3>
                <button class="footer-modal__btn-close" data-footer-modal-close>
                    <svg class="footer-modal__icon-close">
                        <use href="/src/images/icons.svg#icon-close"></use>
                    </svg>
                </button>
            </div>
            <ul class="team">
                <li class="team__card">
                    <img class="team__photo" src="/src/images/footer/footer-modal/dicha.jpg" alt="photo 1" />
                    <div class="team__caption">
                        <h4 class="team__title">Dmytro Chahin</h4>
                    </div>
                </li>
                <li class="team__card">
                    <img class="team__photo" src="/src/images/footer/footer-modal/galina.jpg" alt="photo 1" />
                    <div class="team__caption">
                        <h4 class="team__title">Halyna Remeniak</h4>
                    </div>
                </li>
                <li class="team__card">
                    <img class="team__photo" src="/src/images/footer/footer-modal/ivan.jpg" alt="photo 1" />
                    <div class="team__caption">
                        <h4 class="team__title">Ivan Vodopianov</h4>
                    </div>
                </li>
                <li class="team__card">
                    <img class="team__photo" src="/src/images/footer/footer-modal/igorSmorodsky.jpg" alt="photo 1" />
                    <div class="team__caption">
                        <h4 class="team__title">Igor Smorodsky</h4>
                    </div>
                </li>
                <li class="team__card">
                    <img class="team__photo" src="/src/images/footer/footer-modal/illiaKazmin.jpg" alt="photo 1" />
                    <div class="team__caption">
                        <h4 class="team__title">Illia Kazmin</h4>
                    </div>
                </li>
                <li class="team__card">
                    <img class="team__photo" src="/src/images/footer/footer-modal/knihinOleksii.jpg" alt="photo 1" />
                    <div class="team__caption">
                        <h4 class="team__title">Oleksii Knihin</h4>
                    </div>
                </li>
                <li class="team__card">
                    <img class="team__photo" src="/src/images/footer/footer-modal/oleksiiZimohliad.jpg" alt="photo 1" />
                    <div class="team__caption">
                        <h4 class="team__title">Oleksii Zimohliad</h4>
                    </div>
                </li>
                <li class="team__card">
                    <img class="team__photo" src="/src/images/footer/footer-modal/andriiFyl.jpg" alt="photo 1" />
                    <div class="team__caption">
                        <h4 class="team__title">Andrii Fyl</h4>
                    </div>
                </li>
                <li class="team__card">
                    <img class="team__photo" src="/src/images/footer/footer-modal/danilaStelmakh.jpg" alt="photo 1" />
                    <div class="team__caption">
                        <h4 class="team__title">Danila Stelmakh</h4>
                    </div>
                </li>
                <li class="team__card">
                    <img class="team__photo" src="/src/images/footer/footer-modal/dimaTarasenko.jpg" alt="photo 1" />
                    <div class="team__caption">
                        <h4 class="team__title">Dima Tarasenko</h4>
                    </div>
                </li>
                <li class="team__card">
                    <img class="team__photo" src="/src/images/footer/footer-modal/coderPic.jpg" alt="photo 1" />
                    <div class="team__caption">
                        <h4 class="team__title">...</h4>
                    </div>
                </li>
                <li class="team__card">
                    <img class="team__photo" src="/src/images/footer/footer-modal/coderPic.jpg" alt="photo 1" />
                    <div class="team__caption">
                        <h4 class="team__title">...</h4>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</footer>
