<header class="library-header">
    <!-- Container -->
    <div class="container library-header__container">
        <!-- Top wrapper -->
        <div class="library-header__top-wrapper">
            <!-- Logo -->
            <a class="logo" href="index.html">
                <svg class="logo__icon" width="24" height="24">
                    <use href="./images/icons.svg#icon-logo"></use>
                </svg>
                <p class="logo__text">Filmoteka</p>
            </a>

            <!-- Theme change button -->
            <div class="theme-toggle__wrapper">
                <button class="theme-toggle__btn">
                    <svg class="theme-toggle__icon-sun" width="18" height="18">
                        <use href="./images/icons.svg#icon-sun"></use>
                    </svg>
                    <svg class="theme-toggle__icon-moon" width="18" height="18">
                        <use href="./images/icons.svg#icon-moon"></use>
                    </svg>
                </button>
            </div>

            <!-- Navigation -->
            <nav class="navigation">
                <ul class="navigation__list">
                    <li class="navigation__item">
                        <a href="index.html">home</a>
                    </li>
                    <li class="navigation__item navigation__item--active">
                        <a href="library.html">my library</a>
                    </li>
                </ul>
            </nav>
        </div>

        <!-- Button list-->
        <ul class="btn-list">
            <li class="btn-list__item">
                <button class="library-btn library-btn--active" data-action="watched">Watched</button>
            </li>
            <li class="btn-list__item"><button class="library-btn" data-action="queued">Queue</button></li>
        </ul>
    </div>
</header>
