<!-- Overlay -->
<div class="backdrop is-hidden">
    <!-- Modal -->
    <div class="modal-detail">
        <!-- Close button -->
        <button class="modal-detail__close-button">
            <svg class="modal-detail__close-icon" width="32" height="32">
                <use href="./images/icons.svg#icon-close"></use>
            </svg>
        </button>

        <!-- Poster image -->
        <div class="modal-detail__poster">
            <!-- Youtube button -->
            <a class="modal-detail__youtube-link" href="">
                <svg class="modal-detail__youtube-icon">
                    <use xlink:href="./images/icons.svg#icon-youtube"></use>
                </svg>
            </a>

            <!-- Image -->
            <img class="modal-detail__image" src="./images/no-image.svg" alt="" />
        </div>

        <!-- Info -->
        <div class="modal-detail__info">
            <h2 class="modal-detail__title">TITLE</h2>

            <!-- Table info -->
            <table class="modal-detail__table">
                <tbody>
                    <tr>
                        <td class="modal-detail__col1">Vote / Votes</td>
                        <td class="modal-detail__col2">
                            <span class="modal-detail__vote-avg">0</span>
                            <span>/</span>
                            <span class="modal-detail__vote-count">0</span>
                        </td>
                    </tr>
                    <tr>
                        <td class="modal-detail__col1">Popularity</td>
                        <td class="modal-detail__col2 modal-detail__popularity">0</td>
                    </tr>
                    <tr>
                        <td class="modal-detail__col1">Original Title</td>
                        <td class="modal-detail__col2 modal-detail__org-title">A FISTFUL OF LEAD</td>
                    </tr>
                    <tr>
                        <td class="modal-detail__col1">Genre</td>
                        <td class="modal-detail__col2 modal-detail__genres">...</td>
                    </tr>
                </tbody>
            </table>

            <!-- About -->
            <p class="modal-detail__about-label">About</p>

            <!-- Article -->
            <p class="modal-detail__article">Overview....</p>
        </div>

        <!-- Buttons -->
        <div class="modal-detail__buttons-wrapper">
            <button type="button" class="modal-detail__btn" id="watch-btn">Add to Watched</button>
            <button type="button" class="modal-detail__btn" id="queue-btn">Add to Queue</button>
            <button type="button" class="modal-detail__btn modal-detail__trailer-btn" data-action="openTrailerVideo">
                Video Trailer
            </button>
        </div>
    </div>
    <div class="backdrop_trailer unshown">
        <iframe
            class="iframe-window"
            width="560"
            height="315"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
            onload="console.log('YouTube');"
        ></iframe>
    </div>
</div>
