.pagination {
    margin: 0;
    padding-bottom: 60px;
    list-style: none;
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    color: $pag-color;

    & > li {
        cursor: pointer;
        border: 1px solid $pag-color-border;
        border-radius: 3px;
        margin-right: 2px;
        padding: 4px 7px;
        line-height: 1;
    }

    & > li:hover {
        background-color: $pag-hover-bg;
        color: $pag-hover-color;
    }

    & > li.disabled {
        cursor: not-allowed;
    }

    & > li:first-child,
    & > li:last-child {
        position: relative;
        line-height: 0;
    }

    // TABLET
    @include mq("tablet") {
        & > li {
            padding: 6px 12px;
            margin-right: 5px;
        }
    }

    // DESKTOP
    @include mq("desktop") {
    }

    .active {
        color: $pag-hover-color;
        background-color: $pag-hover-bg;
    }
}
