$color-primary: #3d314a;
$color-secondary: #f5f1ed;

// Loading spinner
.spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    // height: calc(100vh - 350px);
    // padding-bottom: 60px;

    &::before {
        content: "";
        z-index: -1;
        width: 104px;
        height: 111px;
        background-color: #fff;
        display: block;
        position: absolute;
        border-radius: 25px;
        box-shadow: rgb(0 0 0 / 16%) 0px 10px 36px 0px, rgb(0 0 0 / 6%) 0px 0px 0px 1px;
    }

    &__text {
        margin: 8px auto;
        color: $color-primary;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 600;
        // font-family: $font;
    }

    &__filmstrip {
        position: relative;
        overflow: hidden;
        width: 56px;
        height: 70px;
        background: $color-primary;
        box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
        z-index: -1;
        &:before,
        &:after {
            content: "";
            position: absolute;
            height: 120%;
            border-left: 5px dashed $color-secondary;
            animation: roll 200ms infinite;
        }
        &:before {
            left: 5px;
        }
        &:after {
            right: 5px;
        }
    }
}

// Roll for spinner
@keyframes roll {
    0% {
        top: 0px;
    }
    100% {
        top: -15px;
    }
}
