.library-header {
    position: relative;
    color: #fff;
    background-color: #000;
    height: 230px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% 100%;
    background-image: url("../images/mobile/header_bg2.jpg");

    // Container
    &__container {
        display: flex;
        flex-direction: column;
    }

    // Top wrapper
    &__top-wrapper {
        margin-top: 40px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    // PIXEL-RATIO 2
    @media (min-device-pixel-ratio: 2),
        (-webkit-min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        & {
            background-image: url("../images/mobile/header_bg2@2x.jpg");
        }
    }

    // TABLET
    @include mq("tablet") {
        height: 216px;
        background-image: url("../images/tablet/header_bg2.jpg");

        // PIXEL-RATIO 2
        @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            & {
                background-image: url("../images/tablet/header_bg2@2x.jpg");
            }
        }
    }

    // DESKTOP
    @include mq("desktop") {
        background-image: url("../images/pc/header_bg2.jpg");

        // PIXEL-RATIO 2
        @media (min-device-pixel-ratio: 2),
            (-webkit-min-device-pixel-ratio: 2),
            (min-resolution: 192dpi),
            (min-resolution: 2dppx) {
            & {
                background-image: url("../images/pc/header_bg2@2x.jpg");
            }
        }
    }
}
