.movies-section {
    min-height: calc(100vh - 332px);

    &__container {
        padding: 20px;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(280px, max-content));
        grid-gap: 16px;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

    &__title {
    }

    &__card {
        cursor: pointer;
    }

    &__image {
        // opacity: 0;
        border-radius: 5px;
        object-fit: cover;
        height: 455px;

        box-shadow: rgb(0 0 0 / 7%) 0px 1px 2px, rgb(0 0 0 / 7%) 0px 2px 4px, rgb(0 0 0 / 7%) 0px 4px 8px,
            rgb(0 0 0 / 7%) 0px 8px 16px, rgb(0 0 0 / 7%) 0px 16px 32px, rgb(0 0 0 / 7%) 0px 32px 64px;

        &:hover,
        &:focus {
            transform: scale(1.01);
        }
    }

    // Blank image
    &__image--blank {
        object-fit: contain;
    }

    &__info {
        padding-top: 10px;
        @include fonts(12px, 16px, 500, inherit);
    }

    &__item:first-child {
        padding-bottom: 6px;
    }

    &__title {
        text-transform: uppercase;

        &--no-info {
            background-color: #000;
            color: #fff;
            border-radius: 7px;
            padding: 1px 5px;
        }
    }

    &__add-info {
        color: #ff6b08;
    }

    // No info
    &__year,
    &__genres {
        &--no-info {
            background-color: #ff6b08;
            color: #fff;
            border-radius: 7px;
            padding: 1px 5px;
        }
    }

    &__voteAverage {
        display: inline-block;
        margin: 0px 0px 0px 8px;
        padding: 1px;
        text-align: center;
        width: 36px;
        height: 16px;
        @include fonts(12px, 14px, 500, inherit);
        text-transform: uppercase;
        color: #ffffff;
        background-color: #ff6b01;
        border-radius: 4px;
    }

    // Loading spinner
    &__loading-spinner {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        // height: calc(100vh - 350px);
        padding-bottom: 60px;
    }
    &__text {
        margin: 8px auto;
        color: $color-primary;
        text-transform: uppercase;
        letter-spacing: 1px;
        font-weight: 600;
        // font-family: $font;
    }

    &__message {
        text-align: center;
        margin-top: auto;
        color: $color-primary;
        letter-spacing: 1px;
        font-weight: 500;

        &--bold {
            font-weight: 600;
        }
    }
    &__filmstrip {
        position: relative;
        overflow: hidden;
        width: 56px;
        height: 70px;
        background: $color-primary;
        box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
        z-index: -1;
        &:before,
        &:after {
            content: "";
            position: absolute;
            height: 120%;
            border-left: 5px dashed $color-secondary;
            animation: roll 200ms infinite;
        }
        &:before {
            left: 5px;
        }
        &:after {
            right: 5px;
        }
    }

    // TABLET
    @include mq("tablet") {
        min-height: calc(100vh - 301px);

        &__container {
            padding: 60px 32px;
        }

        &__card {
            margin-bottom: 16px;
        }

        &__image {
            height: 574px;
        }

        &__info {
        }
    }

    // DESKTOP
    @include mq("desktop") {
        &__info {
            @include fonts(20px, 24px, 500, inherit);
        }
        &__voteAverage {
            position: relative;
            bottom: 3px;
            padding: 3px;
            width: 40px;
            height: 20px;
        }
    }
}

// Fade in picture effect
.loaded {
    opacity: 1;
    transition: opacity 1s 0s, transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 10;
}
